!!! 5
%html{:lang => I18n.locale}
  %head
    %title Quizzy Webapp
    %meta{:name => :viewport, :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => :robots, :content => :noindex }
    =csrf_meta_tag
    =stylesheet_link_tag 'application', :media => "all"

  %body
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          - if User.current
            %li
              = link_to logout_path do
                %i.icon.icon-off
                Logout
                %em= User.current.email
        %h2= link_to "Quizzy", root_path

      %hr

      = yield

      %hr

      - if Rails.env.development?
        %pre
          = session.to_yaml

      .footer
        %p &copy; 2013 Kindoo Inc.
    =javascript_include_tag 'application'

